
<div class="panel panel-info">
<div class="panel-heading">Create New URL</div>
  <div class="panel-body">
<%= simple_form_for @link ,wrapper: :horizontal_form do |f| %>
  <%= f.input :title%>
  <%= f.input :url %>
  <%= f.button :submit , class: "my-button"%>
<% end %>
</div>
</div>
